.User {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  border-top: 1.5px solid #fff;
  position: relative;
  font-size: 1rem;
  color:#A33327;
  margin-top: 10px;
  border-radius: 10px;
}

.User:first-child {
  margin-top: 20px; 
}

.User:last-child {
  margin-bottom: 50px; 
  border-bottom: 1px solid #2e151b;
}

.UserImg {
  flex: 1 1 10%;
  padding-left: 15px;
  
}

.UserImg  img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.UserName {
  flex: 1 1 100%;
  align-self: flex-start;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 20px;
  padding: 5px;
}

.UserProfile {
  flex: 1 1 30%;
  background-color: #1C3334;
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border: 1.5px solid #fff;
  cursor: pointer;
  border-radius: 5px;
}

.UserFavorites {
  position: absolute;
  margin-top: 30px;
  right: 0;
}

.UserLabel {
  margin-right: 10px;
}

.UserCheckbox {
  margin: 0;
  
}
a{
  text-decoration: none;
}

