.Count {
  padding: 5px;
  flex: 1 1 33%;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 5px 0;
  /* border-bottom: 1px solid #CCC; */
  background-color: #fff;
}

.CountLabel,
.CountSelect {
  font-size: 1rem;
}

.CountSelect {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media(min-width: 600px) {
  .Count {
    padding: 10px;
  }
}