.SearchBar {
  width: 100%;
  display: flex;
  margin-top: 50px;
  border: 1px solid #CCC;
  box-sizing: border-box;
}
.SearchInput,
.SearchSubmit {
  flex: 1 1 80%;
  font-size: 1rem;
  padding: 6.5px 5px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.SearchSubmit {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1 1 20%;
  box-sizing: border-box;
  background:none;
  border: none;
  cursor: pointer;
  background-color: #1C3334;
  color: #fff;
}

@media(min-width: 600px) {
  .SearchInput,
  .SearchSubmit {
    padding: 10px;
  }
}